*,
:after,
:before {
    box-sizing: border-box;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

/* __________________________________________________________________________________________ */

button {
    margin: 0;
    padding: 8px 16px;

    cursor: pointer;
}

.section {
    padding: 24px 0;
}

.container {
    padding: 0 16px;
    margin: 0 auto;
}

.container::after {
    content: '';
    display: block;
    height: 2px;
    /* margin-top: 20px; */
    position: relative;
    top: 24px;

    background-color: rgb(44, 0, 94);
}

header {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    color: rgb(44, 0, 94);
}

.header-title {
    font-size: 64px;
    font-weight: 700;
}

.counter {
    text-align: center;

    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 24px;
    color: rgb(44, 0, 94);
}

.counter-wrap {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 16px;
}

.counter-value {
    font-size: 48px;
}

.counter-wrap > button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 600;

    background-color: rgba(44, 0, 94, 0.1);
    border: 2px solid palevioletred;
    border-radius: 50px;

    cursor: pointer;
}

.counter-wrap > button:hover,
.counter-wrap > button:focus {
    color: aliceblue;
    background-color: palevioletred;
    border: 2px solid rgb(44, 0, 94);
}

.buttons-test-wrap {
    flex-direction: column;
    align-items: center;
    margin: 0;
}
